body{
    background:#f2f3f7;
 
}
.container{
    margin-top:50px;
}
.m-b-30 {
    margin-bottom: 30px;
}
p{
color: #8A98AC;    
}
.table-borderless td {
    border: 0 !important;
}
.table>:not(caption)>*>*{
    background-color: #eeeeee !important;
}
.table td {
    color: #8A98AC;
    vertical-align: middle;
    border-top: 1px solid rgba(0, 0, 0, 0.03);
    padding: 0.6rem;
}
.btn-primary-rgba {
    background-color: #F8BE12;
    border: none;
    margin-right: 1px;
    color: #fff ;
}
.btn-success-rgba {
    background-color: #F8BE12;
    border: none;
    color: #fff;
}
.card {
    border: 2px solid #F8BE12;
    border-radius: 3px;
    background-color: #eeeeee;
}
.img-fluid{
    border-radius: 50%;
    padding: 10px;
}