<div class="container">
    <!-- <h1 class="text-center"><u>List of Clients</u></h1> -->
    <div class="row">
        <div class="col-lg-6" *ngFor="let customer of customerList">
            <div class="card m-b-30">
                <div class="card-body py-5">
                    <div class="row">
                        <div class="col-lg-3 text-center">
                            <img src='http://localhost/customer/uploads/{{customer.image}}' class="img-fluid mb-3" alt="user" />
                        </div>
                        <div class="col-lg-9">
                            <h4>{{customer.fname}} {{customer.lname}}</h4>
                            <p>{{customer.email}}</p>
                            <div class="button-list mt-4 mb-3">
                                <button type="button" class="btn btn-primary-rgba" ><i class="fa fa-envelope" aria-hidden="true"></i> <span class="mx-1">Message</span></button>
                                <button type="button" class="btn btn-success-rgba"><i class="fa fa-phone" aria-hidden="true"></i><span class="mx-1">Call Now</span></button>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-borderless mb-0">
                                    <tbody>
                                        <tr>
                                            <th scope="row" class="p-1">Status:</th>
                                            <td class="p-1">{{customer.status}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row" class="p-1">Gender:</th>
                                            <td class="p-1">{{customer.gender}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row" class="p-1">Age :</th>
                                            <td class="p-1">{{customer.age}}</td>
                                        </tr>
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
