<div id="wrapper">

    <aside id="sidebar-wrapper">
      <div class="sidebar-brand">
        <h2 class="side-nav-item">C-Enterprises</h2>
      </div>
      <ul class="sidebar-nav">
        <li class="active">
          <a href="#"><img src="assets/home.svg"><span class="side-nav-item">Home</span></a>
        </li>
        <li>
          <a href="#"><img src="assets/file.svg"> <span class="side-nav-item">Details</span></a>
        </li>
        <li>
          <a href="#"><img src="assets/users.svg"> <span class="side-nav-item">Customers</span></a>
        </li>
      </ul>
    </aside>
  
    <div id="navbar-wrapper">
      <nav class="navbar">
        <div class="d-flex justify-content-between">
          <div class="navbar-header">
           <span class="navbar-toggler-icon" id="sidebar-toggle"></span>
          </div>

          <div class="ml-auto">
            <form class="d-flex" role="search">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <div class="btn" type="submit"> <img src='assets/search.svg'></div>
            </form>
          </div>
          
        </div>
      </nav>
    </div>
  
    <section id="content-wrapper">
         <router-outlet></router-outlet>
    </section>
  
  </div>