<div class="mt-5">
    <div class='container'>
        <form [formGroup]="customerForm"  (ngSubmit)="onUpdate()">
            
            <div class="">
                <label for='firstname'>First Name</label>
                <input type='text' class='form-control focus-ring focus-ring-light' id='firstname'   formControlName="firstname">
            </div>
            <div class="">
                <label for='lastname'>Last Name</label>
                <input type='text' class='form-control focus-ring focus-ring-light' id='lastname'   formControlName="lastname">
            </div>
            <div class="">
                <label for='email'>Email</label>
                <input type='text' class='form-control focus-ring focus-ring-light' id='email'   formControlName="email">
            </div>
            <div class="">
                <label for='age'>Age</label>
                <input type='text' class='form-control focus-ring focus-ring-light' id='age'   formControlName="age">
            </div>
            <div class="">
                <label for='gender'>Gender</label>
                <input type='text' class='form-control focus-ring focus-ring-light' id='gender'   formControlName="gender">
            </div>
            <div class="">
                <label for='status'>Status</label>
                <input type='text' class='form-control focus-ring focus-ring-light' id='status'   formControlName="status">
            </div>
    
    
            <button type='submit' class='submit-btn mt-2' value='Save' data-bs-toggle="modal" data-bs-target="#editModal">UPDATE</button>

            </form>
    </div> 

    <!-- Modal -->
        <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <!-- <h1 class="modal-title fs-5" id="editModalLabel">Modal title</h1> -->
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Customer edited successfully
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
            </div>
        </div>
</div>
