<div class="mt-5">
    <div class='container'>
        <form [formGroup]="customerForm">
            
            <div class="">
                <label for='firstname'>First Name</label>
                <input type='text' class='form-control focus-ring focus-ring-light' id='firstname'   formControlName="firstname">
            </div>
            <div class="">
                <label for='lastname'>Last Name</label>
                <input type='text' class='form-control focus-ring focus-ring-light' id='lastname'   formControlName="lastname">
            </div>
            <div class="">
                <label for='email'>Email</label>
                <input type='text' class='form-control focus-ring focus-ring-light' id='email'   formControlName="email">
            </div>
            <div class="">
                <label for='age'>Age</label>
                <input type='text' class='form-control focus-ring focus-ring-light' id='age'   formControlName="age">
            </div>
            <div class="">
                <label for='gender'>Gender</label>
                <input type='text' class='form-control focus-ring focus-ring-light' id='gender'   formControlName="gender">
            </div>
            <div class="">
                <label for='status'>Status</label>
                <input type='text' class='form-control focus-ring focus-ring-light' id='status'   formControlName="status">
            </div>
    
    
            <button type='submit' class='submit-btn mt-2' value='Save'>UPDATE</button>
    
    
            </form>
    </div> 
</div>
