
table{
    width: 100%;
}
table tr th, table tr td {
    border-color: #e9e9e9;
    padding: 10px 0px;
    /* vertical-align: middle; */
}
table tr th{
    border-bottom: 3px solid #f8be12;
}
table tr td {
    border-bottom: 1px solid #f8be12;
}
.submit-btn{
    background-color:#f8be12;
    color: #fff;
    border-color: #f8be12;
    border-radius: 8px;
    padding: 5px;
}
.form-control{
    border:1px solid #f8be12 !important;
}

