<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="wrapper mt-5">
  <div class="main" class="dark-mode">
    <h1>Settings</h1>
      <!-- <i class="fa fa-edit"></i> -->
    
    <div class="theme-switch-wrapper">
    <label class="theme-switch" for="checkbox">
        <input type="checkbox" id="checkbox" />
        <div class="slider round"></div>
     </label>
     <h4>Dark Mode</h4>
    </div>
    
    <ul>
      <li><i class="fa fa-user"></i>Account</li>
      <li><i class="fa fa-flag"></i>Notification</li>
      <li><i class="fa fa-lock"></i>Privacy</li>
      <li><i class="fa fa-shield"></i>Security</li>
      <li><i class="fa fa-question"></i>help</li>
    </ul>
 
  </div>
</div>

